.arrowForwardIcon {
    padding: 100px;
  // margin-left:1000px;
 
}
.arrowForwardIcon:hover{
   // background-color:red;
    //margin:red;
    
}

.arrowBackwardIcon {
    padding:100px;
   // margin-right:1000px;
}

.imageContainer{
    width:500px;
    height:500px;
    padding:10px 10px 40px 10px;
  }